@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.signup {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5rem;
  }

  &-form {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__button {
    @include button-style;
  }
  &__heading {
    margin-bottom: 1rem;
  }
  &-form {
    &-group {
      margin-bottom: 1rem;
      @include tablet {
        width: 100%;
      }
    }
    &__input {
      @include input-field;
      width: 100%;
    }
    &__button {
      @include button-style;
    }
  }

  &__existing-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
  }

  &__error-field {
    display: none;
    &--displayed {
      display: inline-block;
    }
  }
}
