@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.fadeIn {
  width: 100%;
}

.deal-list {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    @include input-field;
    display: block;
    margin: 1rem 0;
    width: 100%;
  }

  &__top {
    @include tablet {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }

  &__left {
    @include tablet {
      align-self: flex-end;
    }
  }

  &__right {
    @include tablet {
      border-left: 2px solid $Prospecta-primary-border;
      padding-left: 1rem;
    }
  }

  &__columns {
    display: none;
    @include tablet {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      background-color: $Prospecta-primary-dark;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 0.25rem 1rem;
      &-left {
        display: flex;
        justify-content: space-between;
        width: 86%;
      }
    }
  }

  &__company-name,
  &__deal-name,
  &__expected,
  &__weighted,
  &__actions {
    color: $Prospecta-primary-light;
    display: flex;
    align-items: center;
  }

  &__company-name {
    width: 7rem;
  }
  &__deal-name {
    width: 7rem;
  }
  &__expected {
    width: 7rem;
  }
  &__weighted {
    width: 7rem;
  }
  &__actions {
    width: 4.5rem;
  }

  &__add-button {
    @include button-style;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__date-button {
    @include button-style;
    width: 100%;
    margin: 0 0 2rem 0;
  }

  &__date-input {
    @include input-field;
    font-family: "Oswald", Verdana, sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__scroll-up {
    background-color: $Prospecta-primary-dark;
    border-radius: 4px;
    padding: 3rem auto;
    height: 17px;
    position: fixed;
    top: 5rem;
    right: 0rem;

    @include desktop {
      height: 2rem;
      right: 4rem;
    }
  }
}
