@use "./variables" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin button-style {
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: $Prospecta-primary-dark;
  color: $Prospecta-primary-light;

  &:hover {
    background-color: $Prospecta-primary-hover;
  }
}

@mixin input-field {
  border-radius: 20px;
  border: 1px solid $Prospecta-primary-border;
  padding: 0.25rem 0.5rem;
}
