@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-Regular.woff"),
    url("../../assets//fonts//Oswald-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arvo";
  src: url("../../assets/fonts/Arvo.woff"),
    url("../../assets//fonts/Arvo.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arvo";
  src: url("../../assets/fonts/Arvo-Bold.woff"),
    url("../../assets//fonts/Arvo-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
