$Prospecta-primary-dark: (#3e4147);
$Prospecta-primary-mid: (#eaecef);
$Prospecta-primary-light: (#ffffff);
$Prospecta-primary-cta: (#cc4425);
$Prospecta-primary-hover: (#bf7160);
$Prospecta-primary-border: (#8d99ae);
$Prospecta-primary-light-text: (#8d99ae);
$Prospecta-secondary-light: (#f2f2f2);

$tablet-breakpoint: (768px);
$desktop-breakpoint: (1280px);
