@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.barchart {
  background-color: $Prospecta-primary-light;
  border: 1px solid $Prospecta-primary-border;
  border-radius: 8px;
  box-shadow: 7px 10px 10px rgba($color: #000000, $alpha: 0.3);
  width: 100%;
  height: 20rem;
}
