@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.deal-card {
  background-color: $Prospecta-primary-light;
  border: 1px solid $Prospecta-primary-border;
  border-radius: 8px;
  box-shadow: 7px 10px 10px rgba($color: #000000, $alpha: 0.3);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  @include tablet {
    margin: 0;
    border-radius: 0;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__content-container {
    display: flex;
    width: 86%;
    justify-content: space-between;
  }

  &__button {
    @include button-style;
    margin-top: 1rem;
    &--mobile {
      display: inline-block;
      @include tablet {
        display: none;
      }
    }
    &--wide {
      display: none;
      @include tablet {
        display: inline-block;
        margin: 0;
        align-self: center;
      }
    }
  }

  &__name {
    width: 100%;
    text-align: center;
    align-self: center;
    border-bottom: 2px solid lightgray;
    @include tablet {
      display: none;
    }
  }

  &__label {
    color: $Prospecta-primary-light-text;
    margin: 1rem 0 0 0;
    @include tablet {
      display: none;
    }
  }

  &__company-name,
  &__deal-name,
  &__expected,
  &__weighted,
  &__location,
  &__actions {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.25rem;
    }
  }

  &__company-name {
    @include tablet {
      width: 7rem;
    }
  }
  &__deal-name {
    @include tablet {
      width: 7rem;
    }
  }
  &__expected {
    @include tablet {
      width: 7rem;
    }
  }
  &__weighted {
    @include tablet {
      width: 7rem;
    }
  }
  &__actions {
    @include tablet {
      width: 4.5rem;
    }
  }

  &__actions {
    display: flex;
    align-items: flex-end;
    @include tablet {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
  }

  &__edit {
    border: 1px solid $Prospecta-primary-border;
    border-radius: 50%;
    padding: 0.25rem;

    &-link {
      margin: auto 0 0 auto;
      height: 2rem;
    }
  }

  &__mobile-link {
    @include tablet {
      display: none;
    }
  }
  &__wide-link {
    @include tablet {
      margin: 0 auto;
    }
  }

  &__delete {
    margin: auto 0 0 1rem;
  }
}
