@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.company-card {
  background-color: $Prospecta-primary-light;
  border: 1px solid $Prospecta-primary-border;
  border-radius: 8px;
  box-shadow: 7px 10px 10px rgba($color: #000000, $alpha: 0.3);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;

  &__content {
    width: 100%;
    display: flex;
  }

  &__name {
    width: 100%;
    text-align: center;
    align-self: center;
    border-bottom: 2px solid lightgray;
  }

  &__label {
    color: $Prospecta-primary-light-text;
    margin: 1rem 0 0 0;
  }

  &__edit {
    border: 1px solid $Prospecta-primary-border;
    border-radius: 50%;
    padding: 0.25rem;

    &-link {
      margin: auto 0 0 auto;
      height: 2rem;
    }
  }

  &__delete {
    margin: auto 0 0 1rem;
  }
}
