@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.footer {
  padding: 1rem;
  background-color: $Prospecta-primary-dark;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__heading {
    color: $Prospecta-primary-light;
  }

  &__text {
    color: $Prospecta-primary-light;
  }

  &__contacts-container {
    display: flex;
    gap: 2rem;
  }

  &__socials {
    height: 3rem;
  }
}
