@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", Verdana, sans-serif;
}

h1 {
  font-size: 1.75rem;
  font-family: "Arvo", Verdana, sans-serif;
  @include tablet {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.25rem;
  @include tablet {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 0.8125rem;
  @include tablet {
    font-size: 0.875rem;
  }
}

p {
  font-size: 0.8125rem;
}

.app {
  &__content {
    background-color: $Prospecta-primary-mid;
    @include tablet {
      margin-left: 5rem;
    }
    @include desktop {
      padding: 8rem;
    }

    &-wrapper {
      padding: 1rem;
      background-color: $Prospecta-primary-mid;
      @include tablet {
        padding: 1rem 2rem;
      }
    }
  }

  &__header {
    text-decoration: none;
  }
}
