@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/typography" as *;
@use "../../styles//partials/variables" as *;

.nav {
  background-color: $Prospecta-primary-mid;
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;

  &__icon {
    display: none;
    @include tablet {
      display: inline-block;
      height: 20px;
      margin-right: 0.25rem;
    }
  }

  @include tablet {
    flex-direction: column;
    width: max-content;
    position: fixed;
    height: 10rem;
    top: 150px;
    left: 0;
    background-color: $Prospecta-primary-dark;
    padding: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__link {
    line-height: auto;
    text-decoration: none;
    color: $Prospecta-primary-light;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: $Prospecta-primary-dark;
    @include tablet {
      border-radius: 0;
      padding: 0.5rem 0.5rem;
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: $Prospecta-primary-hover;
    }
    &--active {
      background-color: $Prospecta-primary-cta;
    }
  }
}
